body {
    font-family: 'Lato', sans-serif;
}


nav {
   
}

.navbar-center>a {
    font-weight: 800;
}

main {
    width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    background: linear-gradient(180deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
    width: 1440px;
}
.sub-banner{
    
}