body {
    font-family: 'Lato', sans-serif;S
}


nav {
   
}

.navbar-center>a {
    font-weight: 800;
}

main {
    width: 1440px;
    margin: 0 auto;
    border-radius: 8px;
    width: 1440px;
}
.sub-banner{

    
}